@import './_vars';

.nav__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.nav__spacer {
  flex: 3;
  margin: auto;
}

.nav__logo-container {
  display: inline-flex;
}

.nav__logo {
  display: inline-flex;
  margin: auto;
  padding: 5px;
  width: 40px;
}

.nav__link-group {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin: auto;
  text-align: center;
}

.nav__link-container {
  display: flex;
  padding: 10px;
  height: 100%;
  margin: auto;
}

.nav__link {
  text-decoration: none;
  color: $dark-black;
}
