@import '../_vars';

footer {
  display: block;
  background-color: beige;
  color: black;
  font-size: 0.9rem;
}

.footer__container {
  width: 90%;
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.footer__column {
  list-style: none;
  display: flex;
  margin: auto 50px;
}

.footer__link-container {
  margin: 5px;
}

.footer__link {
  text-decoration: none;
  color: $dark-black;
}

.license__link {
  color: #943246;
}

.footer__column-divider {
  color: $dark-black;
  font-weight: 500;
  opacity: 0.7;
  margin: 0 5px;
}

.footer__icon {
	margin: auto 5px;
	height: 20px;
  filter: invert(26%) sepia(74%) saturate(541%) hue-rotate(298deg)
    brightness(94%) contrast(99%);
}
