@import '../_vars';

.page__container {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.page__group {
  display: flex;
  flex-direction: column;
}

.page__group-title {
  margin: auto;
  color: $dark-black;
}

.page__group-content {
  display: flex;
  flex-direction: column;
}

.page__group-content > p,
.page__group-content > h2,
.page__group-content > h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
