@import '../_vars';

.page__container {
  width: 50%;
  margin: auto;
  padding: 50px 0;
}

.page__group {
  display: flex;
  flex-direction: column;
}

.page__group-title {
  margin: 20px auto;
  color: $dark-black;
}

.page__group-content {
  display: flex;
  flex-direction: column;
}

.page__group-content img {
  width: 100%;
  margin: auto;
}

.page__group-content table {
  border-collapse: collapse;
  caption-side: bottom;
  border-color: #e9ecef;
  text-align: center;
}

.page__group-content table > thead {
  vertical-align: bottom;
  border-bottom: 1px solid #cdc8ca;
  text-align: center;
}

.page__group-content table {
  th {
    text-align: center;
  }
  td {
    margin: auto;
    padding: 10px;
    border-bottom: 1px solid #edddd1;
  }
}

.page__group-content > p,
.page__group-content > h2,
.page__group-content > h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page__banner {
  width: 100%;
  height: 400px;
  margin: 20px auto;
}
