{% extends "base.html" %} {% block meta %}

{% set description = page.title ~ " | " ~ config.extra.description %}
{{ macros::get_meta_tags(title=page.title, description=description) }}

{% endblock meta %} {% block content %}

<div class="page__container">
  <img class="bog__banner" src="{{ page.extra.banner }}" alt="blog post banner" />
  <h1 class="blog__group-title">{{ page.title }}</h1>
	<p class="blog__meta">
      Posted {{  page.day }} {{ macros::get_month(month=page.month) }},
        {{ page.year }} by {{ page.extra.author }} 
      - <b>{{ page.reading_time }} min read</b>
    </p>
	<div class="blog__content">
    {{ page.content | safe }}
  </div>
</div>

{% endblock content %}
