<footer>
  <div class="footer__container">
    <ul class="footer__column">
      <li class="footer__link-container">
        <a class="footer__link" href="/about">About</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="/blog">Blog</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="/community">Community</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="/contact">Contact</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="https://github.com/wiosc">GitHub</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="/sponsors">Sponsors</a>
      </li>
    </ul>
  <div class="footer__container">
    <ul class="footer__column">
      <li class="footer__link-container">
        <a class="footer__link" href="/about">About</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="/blog">Blog</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="/community">Community</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="/contact">Contact</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="https://github.com/wiosc">GitHub</a>
      </li>
      <li class="footer__link-container">
        <a class="footer__link" href="/sponsors">Sponsors</a>
      </li>
    </ul>

  </div>
</footer>
