{% extends "base.html" %} 

{% block meta %}

{% set title = "Home" %}
{% set description = title ~ " | " ~ config.extra.description %}
{{ macros::get_meta_tags(title=title, description=description) }}

{% endblock meta %} 

{% block content %}

<div class="banner">
  <img
    class="banner__logo"
    src="{{ macros::cache_bust(path='/logo-max-size.png') }}"
    alt="WiOS logo"
  />
  <h1 class="banner__title">Women in Open Source</h1>
  <p class="banner__tagline">Cogito, ergo sum</p>
  <form
    class="banner__action"
    target="_blank"
    action="{{ macros::social_link(name='discord') }}"
  >
    <button class="banner__action-btn">Come say hi!</button>
  </form>
</div>
<!--<div class="main__container"> -->
  <section class="main__group">
    <div class="main__group-content">
      <div class="main__group-content--right">
        <h2 class="main__group-content-title">Diversity in tech</h2>
        <p class="content">
          Women in Open Source(WiOS) is committed to bringing diversity in
          technology.
          <br />
          <br />
          We conduct hands-on workshops, organize hackathons, and seminars, and
          provide out members you get to learn and grow.
        </p>
      </div>
      <div class="main__group-content--left">
        <img
          class="main__group-content-img"
          width="150px"
          src="/images/homepage/Marie-Equi.svg"
          alt="test"
        />
      </div>
    </div>
  </section>

  {% include "blog/_blog-preview.html" %}
  {% include "events/_events-preview.html" %}

{% endblock content %}
