{% extends "base.html" %} {% block meta %}
<title>Home | WiOS</title>
<meta
  name="description"
  content="WiOS(Women in Open Source), a VIT AP based chapter that is focused on bringing gender diversity in technology and promoting the usage of open-source development."
/>
{% endblock content %} {% block content %}

<div class="banner">
  <img
    class="banner__logo"
    src="{{ macros::cache_bust(path='/logo-100x100.png') }}"
    alt="WiOS logo"
  />
  <h1 class="banner__title">Women in Open Source</h1>
  <p class="banner__tagline">Cogito, ergo sum</p>
  <form
    class="banner__action"
    target="_blank"
    action="{{ macros::social_link(name='discord') }}"
  >
    <button class="banner__action-btn">Come say hi!</button>
  </form>
</div>
<!--<div class="main__container"> -->
  <section class="main__group">
    <div class="main__group-content">
      <div class="main__group-content--right">
        <h2 class="main__group-content-title">Diversity in tech</h2>
        <p class="content">
          Womein in Open Source(WiOS) is committed to bringing diversity in
          technology.
          <br />
          We conduct hands-on workshops, organize hackathons, and seminars, and
          provide out members you get to learn and grow.
        </p>
      </div>
      <div class="main__group-content--left">
        <img
          class="main__group-content-img"
          width="150px"
          src="/images/homepage/Marie-Equi.svg"
          alt="test"
        />
      </div>
    </div>
  </section>

  {% include "_blog-preview.html" %}

  <section class="main__group">
    <h2 class="main__group-title">Our sponsors</h2>
    <div class="main__group-content">
      <p class="main__group-content--center">Coming soon</p>
    </div>
  </section>
<!--</div> -->

{% endblock content %}
