<nav class="nav__container">
  <a class="nav__logo-container" href="/">
    <img class="nav__logo" src="./logo-50x40.png" alt="WiOS logo" />
  </a>
  <div class="nav__spacer"></div>
  <ul class="nav__link-group">
    <li class="nav__link-container">
      <a class="nav__link" href="/about/">About</a>
    </li>
    <li class="nav__link-container">
      <a class="nav__link" href="/blog/">Blog</a>
    </li>
    <li class="nav__link-container">
      <a class="nav__link" href="/community/">Community</a>
    </li>
    <li class="nav__link-container">
      <a class="nav__link" href="/contact/">Contact</a>
    </li>
    <li class="nav__link-container">
      <a class="nav__link" href="https://github.com/wiosc">GitHub</a>
    </li>
  </ul>
</nav>
