<nav class="nav__container">
  <input type="checkbox" class="nav__toggle" id="nav__toggle" />

  <div class="nav__header">
    <a class="nav__logo-container" href="/">
		<img class="nav__logo" src="{{ macros::cache_bust(path='/logo-50x40.png') }}" alt="WiOS logo" />
    </a>
    <label class="nav__hamburger-menu" for="nav__toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav__spacer"></div>

  <div class="nav__link-group">

  {{ macros::nav_link(link="/about/", name="About") }}
  {{ macros::nav_link(link="/blog/", name="Blog") }}
  {{ macros::nav_link(link="/community/", name="Community") }}
  {{ macros::nav_link(link="/members/", name="Members") }}
  {{ macros::nav_link(link="/contact/", name="Contact") }}
  {{ macros::nav_link(link=macros::social_link(name='github'), name="GitHub") }}
  {{ macros::nav_link(link="/sponsors/", name="Sponsors") }}

  </div>
</nav>
