<nav class="nav__container">
  <input type="checkbox" class="nav__toggle" id="nav__toggle" />

  <div class="nav__header">
    <a class="nav__logo-container" href="/">
      <img class="nav__logo" src="/logo-50x40.png" alt="WiOS logo" />
    </a>
    <label class="nav__hamburger-menu" for="nav__toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav__spacer"></div>

  <div class="nav__link-group">
    <div class="nav__link-container">
      <a class="nav__link" href="/about/">About</a>
    </div>
    <div class="nav__link-container">
      <a class="nav__link" href="/blog/">Blog</a>
    </div>
    <div class="nav__link-container">
      <a class="nav__link" href="/community/">Community</a>
    </div>
    <div class="nav__link-container">
      <a class="nav__link" href="/contact/">Contact</a>
    </div>
    <div class="nav__link-container">
      <a class="nav__link" href="https://github.com/wiosc">GitHub</a>
    </div>
  </div>
</nav>
