{% extends "base.html" %} {% block meta %}
<title>{{ page.title }} | WiOS</title>
<meta
  name="description"
  content="{{ page.title }} | WiOS(Women in Open Source), a VIT AP based chapter that is focused on bringing gender diversity in technology and promoting the usage of open-source development."
/>
{% endblock meta %} {% block content %}

<div class="page__container">
  <h1 class="page__group-title">{{ page.title }}</h1>
  <div class="page__group-content">
    {{ page.content | safe }}
  </div>
</div>

{% endblock content %}
