@mixin btn {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
}

@mixin main__group--card {
  flex-direction: column;
  height: auto;

  .main__group-action {
    @include btn;
  }
}

.banner {
  height: 320px;
  box-sizing: content-box;
}

.banner__action-btn {
  @include btn;
}

.banner__logo {
  height: 80px;
  width: 80px;
  padding: 0px;
  margin: 20px 0px;
}

.banner__tagline {
  font-size: 1.2rem;
}

.main__group-title {
  text-align: center;
  font-size: 2rem;
}

.banner__title {
  text-align: center;
  font-size: 2rem;
}

.main__group {
  height: 73vh;
  width: 90%;
}

.main__group-content,
.main__group-content--right,
.main__group-content--left {
  margin: 5px;
}

.main__group-content-title {
  text-align: center;
}

.main__group-content {
  flex-direction: column;
}

.main__group-content-img {
  padding: 10px;
}

.blog-preview__post {
  height: 45vh;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 0px;
  width: 70%;
  margin: auto;
}

.main__group--sponsors,
.main__group--card-beige,
.main__group--card-coral {
  @include main__group--card;
}

.event-preview__youtube-link {
  height: 150px;
  width: 95%;
}
