.banner {
  height: 50vh;
}

.banner__action-btn {
  margin: auto;
  border: none;
  color: #fff;
  background-color: #4f5a66;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
}

.banner__logo {
  height: 80px;
  width: 80px;
  padding: 0px;
  margin: 20px 0px;
}

.banner__tagline {
  font-size: 1.2rem;
}

.main__group-title {
  text-align: center;
  font-size: 2rem;
}

.banner__title {
  text-align: center;
  font-size: 2rem;
}

.main__group {
  height: 73vh;
  width: 90%;
}

.main__group-content,
.main__group-content--right,
.main__group-content--left {
  margin: 10px;
}

.main__group-content {
  flex-direction: column;
}

.main__group-content-img {
  padding: 10px;
}

.main__group--card {
  flex-direction: column;
  height: auto;

  .main__group-action {
    padding: 10px;
    font-size: 1.2rem;
  }
}

.blog-preview__post {
  height: 45vh;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 0px;
  width: 80%;
  margin: auto;
}
