.event__youtube {
  width: 100%;
  height: 451px;
  margin: 30px auto;
}

.main__group--card-coral .main__group-content {
   flex-direction: column;
}

.page__link-list .link-list__item {
   margin-bottom: 5%;
}
