<section class="main__group--card-coral">
  <div class="main__group-title">
    <h2>Latest events</h2>
  </div>
  <div class="main__group-content">
    {% for subsection in section.subsections %} 
    {% set s = get_section(path=subsection) %} 
    {% if s.title == "Events" %}
      {% for page in s.pages %}
        <a href="{{ page.permalink | safe }}" class="event-preview__post-link">
            {% if page.extra.youtube %}
              {% set id= page.extra.youtube | split(pat="https://www.youtube.com/watch?v=") | nth(n=1) %}
              <iframe 
                width="560"
                height="315"
                class="event-preview__youtube-link"
                src="https://www.youtube-nocookie.com/embed/{{ id }}" 
                title="YouTube video player" 
                frameborder="0"
                allow="picture-in-picture" 
                allowfullscreen>
              </iframe>
            {% else %}
              <img
                class="event-preview__banner"
                height="315"
                src={{ page.extra.banner }}
              />
            {% endif %}
          </a>
        {% break %}
      {% endfor %}
    {% endif %} {% endfor %}
  </div>
  <a href="./events" class="main__group-action">View all events</a>
</section>
